.imageAboutPage{
    width: 100%;
}

.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title, .card-text {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}

.under-header-portfolio{
text-align: center;
}

.card-img-top{
  margin:auto;
  max-width:60%;
  max-height:40%;
}
.servicesText:hover {
    border: 1px solid #008000;
}

.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-linkedin:hover, .fa-github:hover{
    color: #0bf039;
}
.fab {
    color: #ffffff;
}

#footer {
    background-color: #808080;
    text-align: center;
}

#about, #services, #portfolio, #contact, #header {
    margin-top: 4rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
}

.fa-navicon{
color:aliceblue;
transform: scale(2,1);
}



@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap);

#about, #services, #portfolio, #contact, #header{
    font-family: 'Raleway';
}
body {
  margin:0;
}

.H1 {
  font-family: 'Raleway';
  font-weight:300;
  letter-spacing: 1px;
  font-size:100px;
}

.H2 {
  font-family: 'Raleway';
  font-weight:300;
  letter-spacing: 1px;
  font-size:35px;
}

p {
  font-family: 'Raleway';
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}


.main-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.good {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  .H1 {
    font-size:64px;
  }

  .H2{
    font-size: 25px;
  }
}

nav {
  width: 270px;
  background: rgb(255, 255, 255);                                                                                                                                                       
  color: rgba(0, 0, 0, 0.87);
  -webkit-clip-path: circle(24px at 30px 24px);
  clip-path: circle(28px at 37px 30px);
  -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
}

nav:hover {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -webkit-clip-path: circle(390px at 225px 24px);
  clip-path: circle(390px at 150px 24px);
}

#allan {
  display: block;
  line-height: 50px;
  padding: 0 20px;
  color: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Raleway;
}

#allan:hover { background: #6a9a63; }

#allan:active { background: #000000; }

.navicon {
  padding: 23px 15px;
  cursor: pointer;
  -webkit-transform-origin: 32px 24px;
  -ms-transform-origin: 32px 24px;
  transform-origin: 32px 24px;
}

.navicon div {
  position: relative;
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
}

.navicon div:before, .navicon div:after {
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
  position: absolute;
}

.navicon div:before { top: -7px; }

.navicon div:after { top: 7px; }